{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react", "plugin:cypress/recommended"],
    "plugins": ["prettier", "cypress"],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
        "jest": true,
        "cypress/globals": true
    },
    "rules": {
        "indent": ["error", 2],
        "space-before-function-paren": "warn",
        "react/prefer-stateless-function": "warn",
        "react/jsx-one-expression-per-line": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "linebreak-style": "off",
        "global-require": "off",
        "semi": "warn",
        "arrow-body-style": "off",
        "no-multiple-empty-lines": ["warn", { "max": 1 }],
        "no-unused-expressions": [
            "error",
            {
                "allowTaggedTemplates": true
            }
        ],
        "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__","__REDUX_DEVTOOLS_EXTENSION__"] }],
        "react/jsx-fragments": [0],
        "no-nested-ternary": [0],
        "react/jsx-props-no-spreading": "off",
        "arrow-parens": [2, "as-needed"],
        "array-bracket-spacing":["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "react-hooks/exhaustive-deps": "off",
        "cypress/no-assigning-return-values": "error",
        "cypress/no-unnecessary-waiting": "error",
        "cypress/assertion-before-screenshot": "warn",
        "cypress/no-force": "warn",
        "cypress/no-async-tests": "error"
    }
}